POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=your_database_host
POSTGRES_PORT=5432


NGROK_AUTHTOKEN=2QL5bpuHQ7WLONaBnM6xXjanxjh_57GL616mdrDbyahyPx3a5

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini